
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Allow any authenticated user to read and write to any document.
    // This is suitable for development but should be replaced with more
    // granular, role-based rules for a production environment.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
