@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 10% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 220 10% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 220 10% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 275 100% 25%; /* Indigo */
    --primary-foreground: 210 20% 98%;
    --secondary: 220 10% 95%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 10% 95%;
    --muted-foreground: 223 47% 42%;
    --accent: 180 100% 25%; /* Teal */
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 10% 90%;
    --input: 220 10% 90%;
    --ring: 275 100% 25%;
    --radius: 0.5rem;
    --chart-1: 275 100% 25%;
    --chart-2: 180 100% 25%;
    --chart-3: 340 75% 55%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 275 80% 60%; /* Indigo */
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 180 80% 50%; /* Teal */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 275 80% 60%;
    --chart-1: 275 80% 60%;
    --chart-2: 180 80% 50%;
    --chart-3: 340 75% 55%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  [data-radix-accordion-content][data-state='closed'] {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    animation: none !important;
  }

  [data-radix-accordion-trigger] > svg {
    display: none !important;
  }
  
  [data-radix-accordion-item] {
    break-inside: avoid;
  }
}
